html,
body {
    margin: 0;
    height: 100%;
}

#scene {
    width: 100%;
    height: 100%;
    display: block;
}

#ui {
    position: absolute;
    left: 1em;
    top: 1em;
    padding: 1em;
    background: rgba(0, 0, 0, 0.8);
    color: white;
}
